@media only screen and (min-width: 60rem) {

    main {
        max-width: 75rem;
        margin: 0 auto;
    }

    #cards figure {
        flex-basis: 29%;
        max-width: 29%;
    }

}

/* end media query*/